* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  margin: 0;
  padding: 0;
  font-family: Inter;
  
}

a {
  color: inherit;
  text-decoration: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.15;
  color: var(--dl-color-gray-black);
  background-color: var(--dl-color-gray-white);
}


.Page {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #3a414a;
}
.header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center; /* Align items vertically */
  margin-bottom: 8px;
  justify-content: space-between; /* Align items horizontally */
  background-color: #cfe4ff
}

.logo {
  width: 76px;
  height: 62px;
  object-fit: cover;
}
.title {
  font-size: 60px;
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);

  margin-bottom: 8px;
  flex-direction: column;
}
.pageTitle {
  color: rgb(255, 255, 255);
  font-size: 40px;
}

/*Form CSS stays the same*/
form {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    width: 90%;
}

/*Username/Password box CSS stays the same*/
form div {
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
}

/*Username/Password Input CSS*/
form div div, form div .email-input {
    margin: 20px;
    background-color: #cfe4ff;
    padding: 20px;
    border-radius: 10px;
}

/*Input Label CSS stays the same*/
label {
  color: white;
}

/*New Username Label Override*/
#new-username + label {
  vertical-align: middle;
}

/*Password Label Override stays the same*/
#password + label {
  color: rgb(17, 4, 4);
  text-align: left;
}

/*Email Label Override, if needed:*/

/*Input CSS stays the same*/
input {
  width: calc(100% - 40px);
  border-radius: 5px;
  padding: 5px;
}

/*Submit Button CSS stays the same*/
button[type="submit"] {
  width: 100%;
  background-color: white;
  color: blue;
  border-radius: 5px;
  padding: 10px;
}