doctype html
html(lang='en')
  head
    title KwikPark Admin Page
    meta(property='og:title', content='Admin Page')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    meta(property='twitter:card', content='summary_large_image')
    style
      include style/admin.css
      include style/custom.css
      include style/calander.css
      include style/style.css

  body
    .Page
      .header
        img.logo(src='/img/image.jpg', alt='image', class='logo')
        h1.title KwikPark
        .dropdown
          .dropdown-content
            a(href='/admin') admin
            a(href='/userHome') User Home
            a(href='/login') login
            a(href='/message') message
          button.burger-icon ☰
      h1.pageTitle Admin Home Page
      .home-slider.swiper(data-thq='slider', data-pagination='true', data-navigation='true', data-autoplay='false')
        .swiper-wrapper(data-thq='slider-wrapper')
          .home-slider-slide.swiper-slide(data-thq='slider-slide')
            .SlideCon
              h1.lotTitle Carpark: Yellow
              .lotCon
                .lotConLeft
                  img.PLot(src='/img/image.jpg', alt='image')
                .rightCon
                  .dateSelect
                    input.datepicker#datepicker(type='text', placeholder='Select a date')
                  span.lotInfo.textarea
                    br
                    span parking spaces available: 55
                    br
                    br
                    span Avalible E Chargers : 6
                    br
                    br
                    span Avalible Disabled Bays : 7
              .otherButtons
                button.home-button.button(type='button') Button
                button.home-button.button(type='button') Button
                button.home-button.button(type='button') Button
                button.home-button.button(type='button') Button
          .home-slider-slide1.swiper-slide(data-thq='slider-slide1')
            .SlideCon
              h1.lotTitle Carpark: Yellow
              .lotCon
                .lotConLeft
                  img.PLot(src='/img/image.jpg', alt='image')
                .rightCon
                  .dateSelect
                    input.datepicker#datepicker(type='text', placeholder='Select a date')
                  span.lotInfo.textarea
                    br
                    span parking spaces available: 83
                    br
                    br
                    span Avalible E Chargers : 2
                    br
                    br
                    span Avalible Disabled Bays : 3
              .otherButtons
                button.home-button.button(type='button') Button
                button.home-button.button(type='button') Button
                button.home-button.button(type='button') Button
                button.home-button.button(type='button') Button
        .home-slider-button-next.swiper-button-next(data-thq='slider-button-next')
        .home-slider-button-prev.swiper-button-prev(data-thq='slider-button-prev')
        .home-slider-pagination.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal(data-thq='slider-pagination')
          .swiper-pagination-bullet(data-thq='slider-pagination-bullet')
          .swiper-pagination-bullet(data-thq='slider-pagination-bullet')
      .bottom
        .Left
          .home-slider1.swiper(data-thq='slider', data-pagination='true', data-navigation='true')
            .swiper-wrapper(data-thq='slider-wrapper')
              .home-slider-slide2.swiper-slide(data-thq='slider-slide2')
                h1.subheading Earnings
                span.Overall Carpark Yellow:
                span.Amount £1050
                img.imgBox(src='/img/image.jpg', alt='image')
              .home-slider-slide3.swiper-slide(data-thq='slider-slide3')
                h1.subheading Earnings
                span.Overall Carpark Yellow:
                span.Amount £1050
                img.imgBox(src='/img/image.jpg', alt='image')
            .home-slider-pagination1.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal(data-thq='slider-pagination')
              .swiper-pagination-bullet.swiper-pagination-bullet-active(data-thq='slider-pagination-bullet')
            .swiper-button-prev(data-thq='slider-button-prev')
            .swiper-button-next(data-thq='slider-button-next')
          .userCon
            h1.subheading User Management
            input.search.input(type='text', placeholder='Registration Plate')
            span.home-text31
              span Customer: jack daniels
              br
              span Registration Num: 5ffw543
              br
              span Type: car
              br
              span Electric: no
              br
              span Disabled: no
            img.imgBox(src='/img/image.jpg', alt='image')
        .msgCon
          h2.msgTitle Messages
          ul.home-ul.list
            .msgli.list-item
              img.msgimg(src='/img/image.jpg', alt='image')
              span.Sender Sender
              span.Subject Subject
            .msgli.list-item
              img.msgimg(src='/img/image.jpg', alt='image')
              span.Sender Sender
              span.Subject Subject
            .msgli.list-item
              img.msgimg(src='/img/image.jpg', alt='image')
              span.Sender Sender
              span.Subject Subject
            .msgli.list-item
              img.msgimg(src='/img/image.jpg', alt='image')
              span.Sender Sender
              span.Subject Subject
            .msgli.list-item
              img.msgimg(src='/img/image.jpg', alt='image')
              span.Sender Sender
              span.Subject Subject
            .msgli.list-item
              img.msgimg(src='/img/image.jpg', alt='image')
              span.Sender Sender
              span.Subject Subject
          button.moremsg(type='button') View More Messages
          button.msgadmin(type='button') Email Admin
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js')
    script 
      include index.js
