doctype html
html
  head
    title Booking Confirmation
    style
      include style/booking.css
  body
    .container
      .content
        h1 Booking Confirmation
        p Your booking was successful!
        p Thank you for choosing KwikPark.
        a.button(href='/') Return to Home