doctype html
html
  head
    title Booking page
        style
      include style/style.css
      include style/booking.css

  body
    .page
      .header
        img.logo(src="/img/KwikPark_transparent.png" alt="est. 2024" )
        h1.title KwikPark
        .dropdown
          button.burger-icon ☰
        .dropdown-content.hidden
          a(href='/admin') Admin
          a(href='/userHome') User Home
          a(href='/login') Login
          a(href='/message') Message
          a(href='/booking') Booking
      h1.subHeading Make a booking
      .main
        form.form(onsubmit="getValues()" onsubmit="makeBooking()")
          .box
            
          label.label(for="new-username") Enter desired date:
          input.input(type="text", id="day", name="day",maxlength="2",minlength="2", placeholder="DD")

          input.input(type="text", id="month", name="month",maxlength="2",minlength="2", placeholder="MM")
          input.input(type="text", id="year", name="year",maxlength="4",minlength="4", placeholder="YYYY")

          button.login(type="submit" onsubmit="") Make Booking
        // Button to navigate to another page

    script
      include booking.js
      include app.js