doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Error Page
    style 
      include style/style.css
      include style/error.css
  body
      .Page
        .header
          img.logo(src="/img/KwikPark_transparent.png" alt="est. 2024" )
          h1.title KwikPark
          .dropdown
            .dropdown-content
              a(href='/admin') Admin
              a(href='/userHome') User Home
              a(href='/login') Login
              a(href='/message') Message
            button.burger-icon ☰
        .main
          .error-container
            h1 Error: #{errorTitle}
            p #{errorMessage}
            p Please try again later.
          .container
            canvas#gameCanvas(width="400", height="400")
            button#playButton Play
  script 
    include error.js