doctype html
html
  head
    title Login Page
    style
      include style/style.css
      include style/signup.css

  body
    .page
      .header
        img.logo(src="/img/KwikPark_transparent.png" alt="est. 2024" )
        h1.title KwikPark
        .dropdown
          button.burger-icon ☰
        .dropdown-content.hidden
          a(href='/admin') Admin
          a(href='/userHome') User Home
          a(href='/login') Login
          a(href='/message') Message
      h1.subHeading Login
      .main
        form.form(onsubmit = "loginForm()")
          .box
            img.imglogo(src="/img/image.jpg", alt="Username")
            label.label(for="email") Email:
          input.input(type="email", id="email", name="username", placeholder="Please Enter a username")

          .box
            img.imglogo(src="/img/image.jpg", alt="Username")
            label.label(for="password") Password:
          input.input(type="password", id="password", name="password", placeholder="Please Enter a password")

          button.login(type="button" onclick = "loginForm()") login
        // Button to navigate to another page
      .bottom
        a(href="/signup", class="NewUsr") 
         button.NewUsr New User
        a(href="/login", class="fPwd") 
         button.fPwd Forgot Password
    script
      include login.js