/*Body CSS*/
body {
    color: white;
    background-color: #3a414a;
    padding: 0px;
    margin: 0px;
  }

/*Top Bar CSS */
.top-bar {
    background-color: #cfe4ff;
    padding: 10px;
    text-align: center;
  }
  
/*Form CSS*/
form {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}
  
/*Username/Password box CSS*/
form div {
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
}
  
/*Username/Password Input CSS*/
form div div {
    margin: 20px;
    background-color: #cfe4ff;
    padding: 20px;
    border-radius: 10px;
}

/*Input Label Styles*/
label {
  color: white;
}
