doctype html
html
  head
    title Login Page
    style
      include style/style.css
      include style/signup.css


  body
    .page
      .header
        img.logo(src="/img/image.jpg", alt="image")
        h1.title KwikPark
        .dropdown
          .dropdown-content
            a(href='/admin') admin
            a(href='/userHome') User Home
            a(href='/login') login
            a(href='/message') messege
          button.burger-icon ☰
      h1.subHeading Login
      .main
        form.form(action="/signup", method="POST")
          .box
            img.imglogo(src="/img/image.jpg", alt="Username")
            label.label(for="new-username") New username:
          input.input(type="text", id="new-username", name="username", placeholder="Create a username")

          .box
            img.imglogo(src="/img/image.jpg", alt="Username")
            label.label(for="password") Password:
          input.input(type="password", id="password", name="password", placeholder="Create a password")

          button.login(type="submit") login
        // Button to navigate to another page
      .bottom
        a(href="/signup", class="NewUsr") 
         button.NewUsr New User
        a(href="/login", class="fPwd") 
         button.fPwd Forgot Password


