doctype html
html
  head
    title Login and Sign Up
    link(rel="stylesheet", href="login.css")
    body()
    .top-bar() UEParks
    h1 Login
    form(action="/login", method="POST")
      div()
        div()
          img(src="icon_username.png", alt="Username")
          // Replace "icon_username.png" with your actual icon
          label(for="username") Username:
          input(type="text", id="username", name="username", placeholder="Enter your username")
        div()
          label(for="password") Password:
          input(type="password", id="password", name="password", placeholder="Enter your password")
        button(type="submit") Login
    // Button to navigate to another page
    button(onclick="forgotPassword()") Forgot Password?

    button(onclick="navigateToAnotherPage()") Go to Another Page

  script(src="script.js") 
  // Link to your JavaScript file
