doctype html
html(lang="en")
  head
    title KwikPark Message
    meta(property="og:title", content="Likable Juicy Lyrebird")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include style/style.css 
      include style/message.css
  body
    .page
      .header
        img.logo(src="/img/KwikPark_transparent.png" alt="est. 2024" )
        h1.title KwikPark
        .dropdown
          button.burger-icon ☰
        .dropdown-content.hidden
          a(href='/admin') Admin
          a(href='/userHome') User Home
          a(href='/login') Login
          a(href='/message') Message
      h1.pageTitle Messages
      .Layout
        .RightBox
          h2.SubHeading Messages
          .home-ul.list
            .msgli.list-item
              img.msgimg(src='/img/image.jpg', alt='image')
              span.Sender Sender
              span.Subject Subject
            .msgli.list-item
              img.msgimg(src='/img/image.jpg', alt='image')
              span.Sender Sender
              span.Subject Subject
            .msgli.list-item
              img.msgimg(src='/img/image.jpg', alt='image')
              span.Sender Sender
              span.Subject Subject
              img.msgimg(src='/img/image.jpg', alt='image')
              span.Sender Sender
              span.Subject Subject
            .msgli.list-item
              img.msgimg(src='/img/image.jpg', alt='image')
              span.Sender Sender
              span.Subject Subject
            .msgli.list-item
              img.msgimg(src='/img/image.jpg', alt='image')
              span.Sender Sender
              span.Subject Subject
              img.msgimg(src='/img/image.jpg', alt='image')
              span.Sender Sender
              span.Subject Subject
            .msgli.list-item
              img.msgimg(src='/img/image.jpg', alt='image')
              span.Sender Sender
              span.Subject Subject
            .msgli.list-item
              img.msgimg(src='/img/image.jpg', alt='image')
              span.Sender Sender
              span.Subject Subject
            button.adminBtn.button(type="button") Email Admin
        .LeftBox
          h2.SubHeading Compose Message
          .composeMsg
            span.msgText To: 
              input(type="text") 
            span.msgText Subject: 
              input(type="text") 
            span.writeMsg
              input(type="text", placeholder="Compose Message")


          button.home-button1.button(type="button") Send Message
    script
      include message.js