doctype html
html
  head
    title Signup Page
    style
      include style/style.css
      include style/signup.css


  body
    .page
      .header
        img.logo(src="/img/image.jpg", alt="image")
        h1.title KwikPark
        .dropdown
          .dropdown-content
            a(href='/admin') admin
            a(href='/userHome') User Home
            a(href='/login') login
            a(href='/message') messege
          button.burger-icon ☰
      h1.subHeading Sign Up
      .main
        form.form(id="myForm", action="", onsubmit="return signupForm()")
          .box
            img.imglogo(src="/img/image.jpg", alt="Email")
            label.label(for="email") Email:
          input.input(type="email", id="email", name="email", placeholder="Enter your email")

          .box
            img.imglogo(src="/img/image.jpg", alt="PhoneNum")
            label.label(for="phoneNum") Phone Number:
          input.input(type="text", id="phoneNum", name="phoneNum", placeholder="Enter your phone number")

          .box
            img.imglogo(src="/img/image.jpg", alt="Username")
            label.label(for="new-username") New username:
          input.input(type="text", id="newUsr", name="username", placeholder="Create a username")

          .box
            img.imglogo(src="/img/image.jpg", alt="Username")
            label.label(for="password") Password:
          input.input(type="password", id="password", name="password", placeholder="Create a password")

          .box
            img.imglogo(src="/img/image.jpg", alt="Username")
            label.label(for="confirm-password") Confirm password:
          input.input(type="password", id="confirmPass", name="confirm-password", placeholder="Confirm your password")
            
          button.signupBtn(type="submit") Sign Up

      a(href="/login", class="loginBtn") 
        button.loginBtn
          p Login 
          p If already

script
  include signup.js
